@media (min-width: 360px){
    /*celular (mobile) pequeno*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}

@media (min-width: 361px) and (max-width: 480px){
    /*celular (mobile) medio*/
        /*celular (mobile) pequeno*/
        *{
            font-family: arial, sans-serif;
            margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
            padding: 0; /*padding = preenchimento. (dentro)
            Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
            box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
            ou seja, o width será a soma do conteúdo com a borda e o padding*/
        }
        
        body{
            background-color: rgb(255, 158, 131);
            border: 5px solid;
            border-color: black;
        }
        
        header{
            background-color: rgb(255, 68, 0);
            color: rgb(255, 255, 255);
            padding: 15px;
            display: flex; /*conteiner manipulavel*/
            align-items: center;
            justify-content: space-between;
            border: 10px solid;
            border-color: black;
        }
        
        .primeirotexto{
            font-weight: bold;
            color: white;
            text-align: left;
            margin-left: 50px;
            list-style: none;
            font-size: 50px;
            margin-top: 50px;
            text-shadow: 
                -1px -1px 0 black,  
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
        }
        
        .logocontainer{
            display: flex;
            align-items: left;
        }
        
        .img_logo{
            width: 80px;
            height: auto;
            border-radius: 50%;
            margin-right: 800px;
            align-items: center;
        }
        
        .perfil{
            margin-right: 0;
            display: flex;
        }
        
        .img_perfil{
            width: 80px;
            height: auto;
            border-radius: 50%; /*deixa a imagem redonda*/
            transition: filter 0.3s ease;
            border: 1px solid;
            align-items: center;
            margin-right: 20px;
        }
        .img_perfil:hover {
            filter: grayscale(100%);
            border-color: black;
        }
        
        .perfiltexto{
            box-sizing: border-box;
            cursor: pointer;
            padding: 20px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            margin-left: 20px;
            transition: color 0.3s ease;
            list-style-type: none;
            background-color: rgb(0, 0, 0);
            border: 2px solid;
            color: white;
        }
        .perfiltexto:hover{
            color: rgb(255, 68, 0);
            background-color: white;
            border-color: black;
        }
        
        .tres{
            color: black;
        }
        .tres:hover{
            color: white;
        }
        .menuicon{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1; /*fica no topo*/
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 60px;
            transition: filter 0.5s ease;
        }
        
        .menuicon a{
            padding: 5px 5px 5px 35px;
            text-decoration: none;
            font-size: 30px;
            color: white;
            font-weight: bold;
            display: block;
            transition: filter 0.3s ease;
        }
        .menuicon a:hover{
            color: rgb(255, 68, 0);
        }
        
        .menuicon .fecharmenu{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 50px;
        }
        
        .linha > .coluna { /* '>' informa que coluna é filha de linha */
            padding: 30px 100px;
        }
        
        .linha:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .coluna {
            float: left;
            width: 25%;
        }
        
        .janela {
            display: none;
            position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
            z-index: 1; /*altera a ordem padrão das camadas do html*/
            padding-top: 0;
            top: 50px;
            width: 60%;
            height: 60%;
            overflow: auto;
            background-color: rgb(255, 158, 131);
            color: white;
            font-weight: bold;
            
        }
        
        
        .conteudojanela {
            position: relative;
            background-color: rgb(255, 158, 131);
            margin: auto;
            padding: 0;
            width: 90%;
            max-width: 1200px;
        }
        
        .personagens{
            width: 100px;
            height: auto;
            border-radius: 20%;
            border-color: black;
            border: 2px solid;
            margin-top: 10px;
        }
        
        .meuslide {
            display: none;
        }
        
        .identificacao {
            color: white;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        
        .anterior,
        .proximo {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        }
        
        .proximo {
        right: 0;
        border-radius: 3px 0 0 3px;
        }
        .prev:hover,
        .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        }
        
        .legendacontainer {
            text-align: center;
            background-color: black;
            padding: 2px 16px;
            color: white;
        }
        
        img.demo {
            opacity: 0.6;
        }
        .active,
        .demo:hover {
            opacity: 1;
        }
        
        img.personagens {
            transition: 0.3s;
        }
        .personagens:hover {
            box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
        }
        
        .fecharcursor {
            color: rgb(255, 68, 0);
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }
        .fecharcursor:hover,
        .fecharcursor:focus {
            color: rgb(255, 68, 0);
            text-decoration: none;
            cursor: pointer;
        }
        
        .acordiao {
            background-color: rgb(255, 68, 0);
            color: white;
            font-weight: bold;
            cursor: pointer;
            padding: 20px;
            width: 90%;
            text-align: left;
            border: 2px solid;
            border-color: black;
            outline: none;
            transition: 0.4s;
            margin-top: 10px;
            display: flex;
            font-size: 30px;
        }
        .active, .acordiao:hover {
            background-color: black(255, 158, 131)
        }
        
        .informacao {
            padding: 10px 20px;
            width: 90%;
            background-color:rgb(255, 68, 0);
            display: flez;
            overflow: hidden;
            font-size: 20px;
            color: white;
            border: 2px solid;
            border-color: black;
        }
        
        .text-textocolunas {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .colunasub {
            margin-top: 100px;
            margin-bottom: 100px;
            background-color: black;
            border: 1px solid rgb(255, 68, 0);
            padding: 20px;
            margin: 100px;
            flex: 1 1 30%;
            box-sizing: border-box;
            text-align: center;
            color: white;
            width: 80%;
        }
        
        footer {
            background-color: rgb(255, 68, 0);
            color: white;
            text-align: center;
            padding: 1em 0;
            border: 2px solid;
            border-color: black;
            margin-top: 50px;
        }
}

  
@media (min-width: 481px) and (max-width: 768px){
    /*celular mobile grande*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    /*tablet retrato*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    /*tablet paisagem*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px){
    /*desktop pequeno*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}

@media (max-width: 1441px){
    /*desktop grande*/
    *{
        font-family: arial, sans-serif;
        margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
        padding: 0; /*padding = preenchimento. (dentro)
        Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
        box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
        ou seja, o width será a soma do conteúdo com a borda e o padding*/
    }
    
    body{
        background-color: rgb(255, 158, 131);
        border: 5px solid;
        border-color: black;
    }
    
    header{
        background-color: rgb(255, 68, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        display: flex; /*conteiner manipulavel*/
        align-items: center;
        justify-content: space-between;
        border: 10px solid;
        border-color: black;
    }
    
    .primeirotexto{
        font-weight: bold;
        color: white;
        text-align: left;
        margin-left: 50px;
        list-style: none;
        font-size: 50px;
        margin-top: 50px;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    
    .logocontainer{
        display: flex;
        align-items: left;
    }
    
    .img_logo{
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 800px;
        align-items: center;
    }
    
    .perfil{
        margin-right: 0;
        display: flex;
    }
    
    .img_perfil{
        width: 80px;
        height: auto;
        border-radius: 50%; /*deixa a imagem redonda*/
        transition: filter 0.3s ease;
        border: 1px solid;
        align-items: center;
        margin-right: 20px;
    }
    .img_perfil:hover {
        filter: grayscale(100%);
        border-color: black;
    }
    
    .perfiltexto{
        box-sizing: border-box;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        transition: color 0.3s ease;
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        border: 2px solid;
        color: white;
    }
    .perfiltexto:hover{
        color: rgb(255, 68, 0);
        background-color: white;
        border-color: black;
    }
    
    .tres{
        color: black;
    }
    .tres:hover{
        color: white;
    }
    .menuicon{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; /*fica no topo*/
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: filter 0.5s ease;
    }
    
    .menuicon a{
        padding: 5px 5px 5px 35px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        display: block;
        transition: filter 0.3s ease;
    }
    .menuicon a:hover{
        color: rgb(255, 68, 0);
    }
    
    .menuicon .fecharmenu{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 50px;
    }
    
    .linha > .coluna { /* '>' informa que coluna é filha de linha */
        padding: 30px 100px;
    }
    
    .linha:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .coluna {
        float: left;
        width: 25%;
    }
    
    .janela {
        display: none;
        position: fixed; /*fixa a posição do elemento na coordenada que vfoi definida*/
        z-index: 1; /*altera a ordem padrão das camadas do html*/
        padding-top: 0;
        top: 50px;
        width: 60%;
        height: 60%;
        overflow: auto;
        background-color: rgb(255, 158, 131);
        color: white;
        font-weight: bold;
        
    }
    
    
    .conteudojanela {
        position: relative;
        background-color: rgb(255, 158, 131);
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
    }
    
    .personagens{
        width: 100px;
        height: auto;
        border-radius: 20%;
        border-color: black;
        border: 2px solid;
        margin-top: 10px;
    }
    
    .meuslide {
        display: none;
    }
    
    .identificacao {
        color: white;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .anterior,
    .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    .legendacontainer {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    
    img.demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.personagens {
        transition: 0.3s;
    }
    .personagens:hover {
        box-shadow: 0 4px 8px 0 rgb(255, 68, 0), 0 6px 20px 0 rgb(255, 68, 0);
    }
    
    .fecharcursor {
        color: rgb(255, 68, 0);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .fecharcursor:hover,
    .fecharcursor:focus {
        color: rgb(255, 68, 0);
        text-decoration: none;
        cursor: pointer;
    }
    
    .acordiao {
        background-color: rgb(255, 68, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 20px;
        width: 90%;
        text-align: left;
        border: 2px solid;
        border-color: black;
        outline: none;
        transition: 0.4s;
        margin-top: 10px;
        display: flex;
        font-size: 30px;
    }
    .active, .acordiao:hover {
        background-color: black(255, 158, 131)
    }
    
    .informacao {
        padding: 10px 20px;
        width: 90%;
        background-color:rgb(255, 68, 0);
        display: flez;
        overflow: hidden;
        font-size: 20px;
        color: white;
        border: 2px solid;
        border-color: black;
    }
    
    .text-textocolunas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .colunasub {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: black;
        border: 1px solid rgb(255, 68, 0);
        padding: 20px;
        margin: 100px;
        flex: 1 1 30%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        width: 80%;
    }
    
    footer {
        background-color: rgb(255, 68, 0);
        color: white;
        text-align: center;
        padding: 1em 0;
        border: 2px solid;
        border-color: black;
        margin-top: 50px;
    }
}
